
.container-table {
  text-align: center;
  width: 60%;
  padding: 3%;
  margin: 5% auto auto;
}

.container-table img {
  margin-top: 5%;
  margin-bottom: -5%;
  border: 3px solid black;
}

.container-form {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 3%;
}

.appt-table {
  border: 3px solid black;
  text-align: center;
}

.appt-header {
  border-left: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  width: 5%;
  height: 50px;
}

.appt-cell {
  border: 2px solid black;
  text-align: center;
  height: 50px;
}

h1, h4 {
  font-family: 'PT Sans', sans-serif;
}

.row {
  padding-top: 1%;
  padding-bottom: 1%;
}