body, header, main, footer, h1, h2, article {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
}

video {
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px auto 200px;
    padding: 10px;
}

article {
  padding: 4%;
  margin: 4%;
  background-color: #F2E8CF;
}

.image {
  width: 20%;
  float: left;
  display: block;
  padding: 2%;
}
