body {
 background-color: #F2E8CF;
}

article {
 background-color: #F2E8CF;
 border: 3px solid #000000;
 padding: 2%;
 display: flex;
 align-items: center;
}

section {
 padding: 2%;
}

body {
 padding: 2%;
}

