body, header, main, footer, h2, section {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    padding: 0px;;
}

img {
    max-width: 100%;
    display: block;
	width: 500px;
	height: 500px;
	padding-bottom: 10px;
 }

article {
    padding: 2%;
    background-color: #F2E8CF;
	grid-template-columns: 2;
}

footer {
    background-color: #6A994E;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 5%;
  margin-top: 2%;
}

a:link {
	color: #BC4749;
}

a:visited {
	color: #A7C957;
}

@media only screen and (max-width: 600px) {
	
	.grid {
	  display: grid;
	  grid-template-columns: 1fr;
	  margin-left: 5%;
	  margin-top: 2%;
	}
	
	img {
		width: 350px;
		height: 350px;
	}
	
}

/* Media Query for Tablet Viewport */
@media only screen and (min-width: 481px){
    article {
      width: 90%;
      float: left;
      height: auto;
    }
    
}