}

img {
    max-width: 100%;
    display: block;
    opacity: .8;
  }

.image-container {
  position: relative;
  text-align: center;
  color:#0c1a38;
  font-size: 6em;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.image {
    width: 20%;
    float: left;
    display: block;
    padding: 2%;
}

.profile {
    padding: 2%;
    width: 75%;
}

article {
    padding: 2%;
    margin: 2%;
    background-color: #F2E8CF;
}

main section {
    column-count: 2;
    column-gap: 30px;
    column-rule: 1px solid #1f3da0;
    padding: 4%;
    font-size: 1.5em;

}

article h2 {
    text-align: center;
}

/* Media Query for Tablet Viewport */
@media only screen and (min-width: 481px){
    article {
      width: 90%;
      float: left;
      height: auto;
    }
    footer {
      clear: left;
    }
}
