body, header, main, footer, h1, h2, article {
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  margin: 4%;
  padding: 4%;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px auto 100px;
  padding: 10px;
}

img {
    max-width: 100%;
    display: block;
    opacity: .8;
  }

.image-container {
  position: relative;
  text-align: center;
  color:#0c1a38;
  font-size: 6em;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.image {
    width: 20%;
    float: left;
    display: block;
    padding: 2%;
}

.image-2 {
  width: 50%;
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile {
    padding: 2%;
    width: 25%;
    float: left;
    display: block;
}

.package {
    padding: 2%;
    margin: 2%;
    background-color: #F2E8CF;
}

#intro {
    background-color: white; 
    text-align: center;
    font-size: 1.2em;
}

main section {
    column-count: 2;
    column-gap: 30px;
    column-rule: 1px solid #1f3da0;
    padding: 6%;
    font-size: 1.5em;

}

article h2 {
    text-align: center;
}

/* Media Query for Tablet Viewport */
@media only screen and (min-width: 481px){
    article {
      width: 90%;
      float: left;
      height: auto;
    }
    footer {
      clear: left;
    }
}
